<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.pentacode.pomestaff">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ProfileActivity"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ProjectDetailActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ProjectStepActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".TaskDetailActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".StepDetailActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".StepTeamActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".StaffChoiceActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ProjectTaskListActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>